@font-face {
  font-family: "AKavir";
  src: url("./Assets/Font/AKavir.ttf");
}
@font-face {
  font-family: "shabnam";
  src: url("./Assets/Font/shabnam/Shabnam.ttf");
}

div.main {
  width: 100%;
  height: 640px;
  background-color: darkgrey;
  direction: rtl;
  font-family: "shabnam";
}
div.sign-up {
  width: 650px;
  height: 567px;
  margin: auto;
  padding-top: 37px;
}
div.input {
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0px 6px 6px 0px;
}
div.input li {
  list-style: none;
  width: 400px;
}

li.title {
  margin: 49px 0px 0px 0px;
  font-size: 18px;
  font-weight: 600;
  color: #44cb60;
  white-space: nowrap;
  text-align: center;
}
li.input-name p {
  margin: 15px 0px 7px 45px;
}

li.input-name span {
  font-size: 12px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
  padding: 0px 50px 0px 107px;
}
li.input-name input {
  margin: -40px 0px 0px 45px;
  width: 130px;
  height: 40px;
}

li.input-email {
  text-align: right;
  margin: -8px 48px 0px 0px;
}

li.input-email p {
  font-size: 12px;
  font-weight: 100;
  color: black;
  margin: 0px 0px 2px 0px;
}
li.input-email input {
  margin: auto;
  width: 307px;
  height: 38px;
  /* background-color: #babad3;
    border-bottom: 2px solid #4b6685;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 3px; */
}

li.input-password {
  text-align: right;
  margin: -39px 48px 0px 0px;
}

li.input-password p {
  font-size: 12px;
  font-weight: 100;
  color: black;
  margin: 0px 0px 2px 0px;
}
li.input-password input {
  margin: auto;
  width: 307px;
  height: 38px;
}
li.button {
  text-align: center;
  margin: -20px 0px 0px 0px;
}
li.button p {
  font-size: 11px;
  font-weight: 100;
  color: black;
  margin-top: 10px;
}
li.button button {
  font-size: 15px;
  color: white;
  width: 307px;
  height: 36px;
}
li.button a {
  text-decoration: underline;
  color: rgb(26, 170, 33);
}

div.title {
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  background-image: url("./Assets/Image/img-6.jpg");
  border-radius: 6px 0px 0px 6px;
  background-position: unset;
}
div.title li {
  list-style: none;
}
li.head-title {
  font-size: 34px;
  font-weight: 900;
  color: white;
  margin: 29px auto;
  list-style: none;
  font-family: "AKavir";
}
li.head-text {
  list-style: none;
  font-size: 12px;
  font-weight: 900;
  color: rgb(0 0 0);
  margin: -98px auto;
  text-align: center;
}
li.head-enter {
  margin: -84px auto;
  width: 210px;
}
li.head-enter button {
  height: 36px;
  width: 210px;
}

li.head-enter2 {
  margin: -51px auto;
  width: 210px;
}
li.head-enter2 button {
  background-origin: content-box;
  height: 36px;
  width: 210px;
  background-image: url(./Assets/Image/img-34.jpg);
  background-size: 31px 22px;
  background-repeat: no-repeat;
  background-position: right;
}
