li.left-row-para{
  margin: 0px 10px 66px 477px;
  list-style: none;
  transform: rotate(30deg);
  width: 32px;
}
li.right-row-para{
  margin: -443px 7px 0px 775px;
  list-style: none;
  transform: rotate(-32deg);
}
li.center-row-para{
  margin: -418px 10px 0px 521px;
  list-style: none;
  width: 106px;
}
