/* buy page */
@font-face {
  font-family: "AKavir";
  src: url("./Assets/Font/AKavir.ttf");
}
@font-face {
  font-family: "shabnam";
  src: url("./Assets/Font/shabnam/Shabnam.ttf");
}
html {
  direction: rtl;
  font-family: shabnam;

}

/* head */
body{
  z-index: -1px !important;

}

div.head {
  width: 100%;
  box-shadow: 0px 6px 19px -3px #88888856;
  height: 519px;
  z-index: -1px;

}
div.header {
  margin: 0px 202px;
}

div.navbar-brand {
  font-family: AKavir;
  font-size: 30px;
  color: white;
  margin: 0px;
  padding: 0px;
  width: 150px;
}

div.menue {
  width: 300px;
  margin: 0px 96px 0px 0px;
}

div.menue li {
  list-style: none;
  padding: 0px 14px 0px 0px;
  margin: 0px;
  font-size: 13px;
}

div.menue a {
  color: rgb(0 0 0);
  text-decoration: none;
  white-space: nowrap;
  font-family: shabnam;
}

div.search-box {
  width: 150px;
  height: 30px;
  margin: 0px 13px;
}
div.search-box input {
  background-image: url(./Assets/Image/img-11.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 9px 5px;
  font-family: shabnam;
  width: 148px;
  height: 27px;
  border-radius: 50px;
}

.acount-box {
  border: 1px solid #d1cccc;
  border: 1px solid #d1cccc;
  border-radius: 50px;
  background-color: #d1cccc;
  list-style: none;
  margin: 0px 57px 0px 0px;
  padding: 0px;
  height: 28px;
  justify-content: center;
  white-space: nowrap;
  width: 116px;
}
div.acount-box a {
  text-decoration: none;
  color: rgb(0 0 0 / 84%);
  font-family: shabnam;
  font-size: 13px;
  font-weight: 900;
}

span.icon-acount {
  margin: 0px 0px 0px 5px;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 18px;
  overflow: visible;
  vertical-align: -4px;
}
span.signin-acount {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
span.signup-acount {
  margin: 0px 0px 0px 0px;
}

div.top-header {
  margin: 15px 0px;
}
div.inner-carousel{
  z-index: -6;
}
div.carousel {
  margin: 0px 30px 0px 0px;
  z-index: -6px;
}

ol.carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 8px;
  height: 9px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  z-index: -6px;
}
ol.carousel-indicators {
  margin-left: 23%;
  z-index: -6px;
}
.carousel img {
  height: 393px;
  z-index: -6px;
}
div.matches-details{
  z-index: -6;
}
ul.match-detail {
  margin: 0px -15px 0px 0px;
  height: 193px;
  z-index: -6px;
}
ul.match-detail li {
  list-style: none;
  text-align: right;
  font-family: shabnam;
  font-size: 12px;
  font-weight: 600;
  z-index: -6px;
}
div.owner-comments{
  z-index: -6;
}
ul.match-comment li {
  list-style: none;
  text-align: right;
  font-family: shabnam;
  font-size: 10px;
  font-weight: 600;
  z-index: -6px;
}
li.match-stadium {
  margin: 0px 0px 0px 0px;
  border-bottom: 1px solid rgb(219, 211, 211);
  z-index: -6px;
}
li.match-teams {
  margin: 15px 0px 15px 0px;
  padding: 0px 0px 15px 0px;
  border-bottom: 1px solid rgb(219, 211, 211);
  z-index: -6px;
}
li.match-date {
  margin: 15px 0px 15px 0px;
  padding: 0px 0px 15px 0px;
  border-bottom: 1px solid rgb(219, 211, 211);
}
li.match-time {
  margin: 15px 0px 15px 0px;
  padding: 0px 0px 15px 0px;
  border-bottom: 1px solid rgb(219, 211, 211);
}
li.match-point {
  z-index: -6px;
}
div.match-ticket {
  width: 307px;
  margin: 15px 18px 0px 0px;
  z-index: -6px;
}
div.match-social {
  width: 307px;
  margin: 15px 18px 0px 0px;
  text-align: right;
  font-family: shabnam;
  font-weight: 400;
  background-color: #faf0f0;
  border-radius: 6px;
  height: 40px;
  z-index: -6px;
}
div.match-social li {
  margin: 8px 18px 0px 29px;
  display: inline-block;
}
div.match-social span {
  margin: 8px 0px 0px 23px;
  z-index: -6px;
}
li.match-comment {
  list-style: none;
  text-align: right;
  font-family: shabnam;
  font-size: 10px;
  font-weight: 600;
  z-index: -6px;
}

div.match-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 305px;
  height: 80px;
  background-color: rgba(221, 212, 212, 0.644);
  direction: rtl;
  text-align: center;
  font-family: shabnam;
  font-size: 11px;
  border-radius: 6px;
  margin: 15px 20px 0px 0px;
  z-index: -6px;
}

div.match-box p {
  margin-top: 20px;
  margin-bottom: -15px;
  margin-right: 5px;
  z-index: -6px;
}
div.match-box h4 {
  margin-top: 15px;
  margin-bottom: -20px;
  z-index: -6px;
}

/* body */

/* main */
div.main {
  margin: 0px 202px;
  direction: rtl;
  font-family: shabnam;
}
div.comments {
  width: 663px;
  height: 48px;
  margin: 30px 30px 0px 0px;
  border-radius: 9px;
  background-color: rgb(207 11 11 / 74%);
}
#icon {
  height: 28px;
  width: 40px;
  opacity: 0.3;
  vertical-align: 25px;
}
div.comments li.span1 {
  color: white;
  margin: 10px 0px 0px 0px;
  text-align: right;
  list-style: none;
  display: inline;
}
div.comments li.span2 {
  color: white;
  font-size: 12px;
  margin: 15px -16px 0px 0px;
  text-align: right;
  list-style: none;
  display: inline;
  white-space: nowrap;
}
li.span3 {
  font-size: 12px;
  margin: 14px 56px 0px 0px;
  text-align: right;
  list-style: none;
  display: inline;
  white-space: nowrap;
  opacity: 0.7;
}
li.span3 a {
  text-decoration: none;
  color: white;
}

div.comments li.span4 {
  color: white;
  font-size: 21px;
  margin: 9px 40px 0px 0px;
  text-align: right;
  list-style: none;
  display: inline;
  white-space: nowrap;
  vertical-align: 25px;
}

/* fans */
div.fans{
  margin:30px 22px 0px 0px;
  direction: rtl;
  font-family: shabnam;
  border-bottom: 4px dotted gray;
  width: 598px;
}

div.perspolis {
  width: 281px;
  height: 65px;
  text-align: right;
  background-color: rgba(83, 172, 83, 0.945);
  border-radius: 10px;
  margin: 30px 8px 0px 0px;
  padding: 14px 11px;
  color: rgb(46, 136, 46);
  font-size: 23px;
}
div.esteghlal {
  width: 281px;
  height: 65px;
  text-align: right;
  background-color: gainsboro;
  border-radius: 10px;
  margin: 30px 29px 0px 0px;
  padding: 14px 11px;
  font-size: 23px;
}
div.fan-team {
  text-align: right;
  font-size: 15px;
  font-weight: 800;
  margin: 12px 8px 0px 0px;
}
/* stadium-location */
div.stadium-location{
  width: 281px;
  height: 65px;
  margin: 30px 8px 0px 0px;
  direction: rtl;
  font-family: shabnam;
  
}
div.location-question{
  text-align: right;
  font-size: 15px;
  font-weight: 800;
  margin: 12px 8px 0px 0px;
}
div.location-main{
  width: 281px;
  height: 65px;
  margin: 30px 8px 0px 0px;
}
div.ocation-map{
  width: 281px;
  height: 65px;
  margin: 30px 8px 0px 0px;
}
div.location-map img{
  width: 607px;
  height: 371px;
}
div.loacation-tooltip{
  margin: 30px 8px 0px 0px;
  border-bottom: 4px dotted gray;
  padding-bottom: 28px;
}
div.stadium-location li{
  list-style: none;
}
div.loacation-tooltip11{
  width: 303px;
  height: 65px;
  margin: 30px -8px 0px 0px;
  background-color: #d1cccc;
  text-align: right;
  border-radius: 6px;
}
div.loacation-tooltip12{
  width: 303px;
  height: 65px;
  margin: 30px -8px 0px 0px;
  background-color: #d1cccc;
  text-align: right;
  border-radius: 6px;
}

div.loacation-tooltip21{
  width: 303px;
  height: 65px;
  margin: 30px 4px 0px 0px;
  background-color: #d1cccc;
  text-align: right;
  border-radius: 6px;
}

div.loacation-tooltip22{
  width: 303px;
  height: 65px;
  margin: 30px 4px 0px 0px;
  background-color: #d1cccc;
  text-align: right;
  border-radius: 6px;
}
div.loacation-tooltip li.line-one{
  font-size: 20px;
  font-weight: 100;
  color: black;
  margin: 5px 9px 0px 0px;
  opacity: 0.7;
}
div.loacation-tooltip li.line-two{
  font-size: 15px;
  font-weight: 100;
  color: black;
  margin: 0px 10px 0px 71px;
  white-space: nowrap;
  opacity: 0.7;
}
div.loacation-tooltip span{
  font-size: 41px;
  font-weight: 700;
  color: black;
}
div#span{
  margin: 5px 10px 0px 0px;
}
/* seat */
div.seats{
  width: 281px;
  height: 65px;
  margin: 340px 8px 0px 0px;
  direction: rtl;
  font-family: shabnam;
}
div.seat-selection{
  text-align: right;
  font-size: 15px;
  font-weight: 800;
  margin: 12px 8px 0px 0px;
}
div.seat-row{

  margin: 12px 8px 0px 0px;

}
div.seat-row img{
  text-align: right;
  font-size: 15px;
  font-weight: 800;
  margin: 12px 8px 0px 0px;
  width: 595px;
  height: 301px;
}
div.footer-in{
  width: 292px;
  margin: -109px -10px 15px 0px;
  border-top: 1px solid rgb(236, 232, 232);
  padding:20px 0px 0px 0px ;
}
div.footer-in li{
  list-style: none;
  white-space: nowrap;
}
li.varzeshgah{
  margin: -2px 0px 0px 40px;
  font-weight: 600;
  font-size: 13px;
}
li.date{
  margin: -2px 0px 0px -6px;
  font-size: 13px;
  font-weight: 300;
}
li.time{
  margin: -2px 0px 0px 0px;
  font-size: 13px;
  font-weight: 300;
}
.card-header {
  padding: 0px;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255) !important;
  border-bottom:none !important;
}
.card-header h4{
  font-size: 19px;
  font-weight: 900;
  margin-top: 10px;
}
.card-header p{
  font-size: 12px;
  opacity: 0.5;
  margin-top: 10px;
  letter-spacing: 3px;
}
div.match-card-detail{
  background-color: green;
  width: 321px;
  height: 183px;
  margin: -91px -21px 0px 10px;
}
div.match-card-detail li{
  list-style: none;
  margin: 7px 20px  0px 0px;
  font-size: 13px;
  color: white;
  opacity: 0.9;
  padding: 10px 0px;
  width: 281px;
}
li.match-card-detail1{
   margin: 0px 0px 0px 0px;
   border-bottom: 1px solid rgb(255, 255, 255);
}
li.match-card-detail2{
  margin: 0px 0px 0px 0px;
  border-bottom: 1px solid rgb(255, 255, 255);
}
li.match-card-detail3{
  margin: 0px 0px 0px 0px;

}
div.price{
  margin: -20px -9px 0px 0px;
  width: 292px;
  border-bottom: 1px solid rgb(219, 209, 209);
  padding: 0px 0px;
  height: 57px;
}
div.price li{
  list-style: none;
  margin: 0px 0px 0px 0px;
}
div.price span{
font-size: 14px;
color: rgb(13, 160, 135); 
font-weight: 900;
}
div.price p{
  font-size: 13px;
color: rgb(0, 0, 0); 
font-weight: 100;
opacity: 0.6;
}
.card-footer {
  padding: 0px;
  margin: -24px 0px 0px 0px;
  background-color: rgb(255, 255, 255) !important;
  border-top:none !important;
}
.card-footer li{
  list-style: none;
  width: 298px;
  margin: 2px -10px 0px 0px;
}
.card-footer p{
  width: 171px;
  margin: 2px -6px 0px 0px;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  color: rgb(50, 150, 150);
}
div.card-body{
height: 100px !important;
margin: 77px 0px 0px 0px;
}
div.card{
  height: 645px !important;
  margin: 29px 7px 0px 0px;
  width: 321px;
  z-index: -6;
}





/* comment-alert */

div.comment-alert{
  margin: -1395px 315px 0px 0px;
  direction: rtl;
  font-family: shabnam;
  width: 738px;
  height: 860px;
  z-index: 99;
background-color: white;
border-radius: 10px;
box-shadow:0px 10px 9px -4px #88888856;
}
div#comments2{
  margin: 29px 33px 0px 0px;
  z-index: 100;
  
}
div.comment-point{
  margin: 17px 499px 0px 0px;
  width: 198px;
  text-align: left;
  direction: ltr;
}
div.comment-point .svg-inline--fa.fa-w-18 {
  width: 25px;
}
div.send-comment1{
  margin: 0px 30px 0px 0px;
  width: 682px;
  height: 246px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
div.user-detail{
  margin: 0px 7px 0px 0px;
  width: 250px;
}
div.user-detail li{
  margin: 4px 1px 0px 0px;
  width: 456px;
  list-style: none;
}
div.user-detail img{
  margin: 0px 0px 0px -33px;
  width: 42px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}
div.user-detail span{
  white-space: nowrap;
}
span#name{
  font-size: 14px;
  color: black;
  font-weight: 900;
  margin: 0px 37px;
}
span#text{
  font-size: 12px;
  color: black;
  font-weight: 100;
  margin: 0px -25px;
  opacity: 0.6;
}

div.user-text{
  margin: 4px 13px 0px 0px;
  width: 656px;
  height: 138px;
  background-color: #f0eeee;
  border-radius: 10px;
  text-align: justify;
  direction: rtl;
  
}
div.user-text li{
  list-style: none;
  margin: 7px 13px 0px 11px;
}
div.user-text span{
  font-size: 13px;
  color: black;
  font-weight: 100;
}
div.submit{
  margin: 10px 537px 0px 0px;

text-align: center;
}
div.submit button{
  background-color: aqua; 
  color: white;
  width: 118px;
  height: 29px;
  text-align: center;
  padding: 3px 0px;
  font-size: 14px;
}


/* 2 */




div.send-comment2{
  margin: -75px  30px 0px 0px;
  width: 682px;
  height: 186px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
div.user-detail2{
  margin: 0px 7px 0px 0px;
  width: 250px;
}
div.user-detail2 li{
  margin: 4px 1px 0px 0px;
  width: 456px;
  list-style: none;
}
div.user-detail2 img{
  margin: 0px -14px 0px -176px;
  width: 42px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}
div.user-detail2 span{
  white-space: nowrap;
}
div.user-detail2 p{
  font-size: 10px;
  color: aqua;
  margin: -7px 0px 0px 302px;
}
span#name2{
  font-size: 14px;
  color: black;
  font-weight: 900;
  margin: 4px 178px 0px 26px;
}
span#text2{
  font-size: 12px;
  color: black;
  font-weight: 100;
  margin: 4px -13px 0px 228px;
  opacity: 0.6;
}

div.user-text2{
  margin: 8px 13px 0px 0px;
  width: 656px;
  height: 85px;

  border-radius: 10px;
  text-align: justify;
  direction: rtl;
  
}
div.user-text2 li{
  list-style: none;
  margin: 7px 13px 0px 11px;
}
div.user-text2 span{
  font-size: 13px;
  color: black;
  font-weight: 100;
}
div.submit2{
  margin: -21px 0px 0px 0px;
  width: 188px;
  height: 43px;
}
div.submit2 .svg-inline--fa.fa-w-16{
width: 20px;
}
div.submit2 li{
  list-style: none;
}
li.dislike-icon{
  width: 64px;
  height: 30px;
  margin: 7px 13px 0px 11px;
  font-size: 20px;
  background-color: #f0eeee;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0px;
  font-size: 13px;
}
li.like-icon{
  width: 60px;
  height: 30px;
  margin: 7px 13px 0px 11px;
  background-color: #f0eeee;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0px;
  font-size: 13px;
}
li.reply-icon{
  width: 87px;
  height: 30px;
  margin: 7px 13px 0px 11px;
  background-color: #f0eeee;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0px;
  font-size: 13px;
}
li.alert-icon{
  width: 70px;
  height: 30px;
  margin: 7px 308px 0px 11px;
  background-color: #f0eeee;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0px;
  font-size: 13px;
}