@font-face {
  font-family: "AKavir";
  src: url("./Assets/Font/AKavir.ttf");
}
@font-face {
  font-family: "shabnam";
  src: url("./Assets/Font/shabnam/Shabnam.ttf");
}

/* head */

header {
  margin: 0px 100px;
}

div.navbar-brand {
  font-family: AKavir;
  font-size: 30px;
  color: white;
  margin: 0px;
  padding: 0px;
  width: 150px;
}

nav.navbar {
  margin: 0px 0px;
}

div.menue {
  width: 340px;
  margin: 30px 0px;
}

div.menue li {
  list-style: none;
  padding: 0px 14px 0px 0px;
  margin: 0px;
  font-size: 14px;
}

div.menue a {
  color: rgb(235, 226, 226);
  text-decoration: none;
  white-space: nowrap;
  font-family: shabnam;
}

div.search-box input {
  border: 2px solid white;
  border-radius: 50px;
  background-image: url("./Assets/Image/img-11.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px 8px;
  font-family: shabnam;
  width: 200px;
}

.acount-box {
  border: 1px solid white;
  border-radius: 50px;
  background-color: aliceblue;
  opacity: 0.6;
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  height: 2.25rem;
  justify-content: center;
  white-space: nowrap;
  width: 180px;
}
div.acount-box a {
  text-decoration: none;
  padding: 0px 2px;
  margin: 0px 1px;
  text-align: justify;
  width: 40px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.836);
  vertical-align: -2.125px;
  text-indent: 0px;
  font-family: shabnam;
}

div.acount-box li {
  color: rgba(0, 0, 0, 0.836);
  margin-top: 6px;
  padding-top: 0px;
}
.svg-inline--fa {
  font-size: x-large;
  vertical-align: -11.125px;
}

div.top-site {
  background-image: url("./Assets/Image/img-5.jpg");
  background-repeat: no-repeat;
  height: 110%;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}

/* last-match */
div.last-match {
  margin: 20px 250px 20px 120px;
  direction: ltr;
}

div.last-match .card {
  border: none !important;
  border-radius: 6px;
  padding: 0%;
  margin: 0%;
}

div.card-header {
  padding: 0px !important;
  margin: 0%;
}

div.card-header img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-body {
  padding: 0px !important;
  margin-top: 30px;
  align-items: center;
}

.card-body img {
  width: 60px;
  height: 70px;
  text-align: center;
}

.card-footer {
  padding: 0px !important;
  margin-top: 0px;
  align-items: center;
  direction: rtl;
  border-top: 0ch !important;
  background-color: rgb(255, 255, 255) !important;
}

.card-body p {
  letter-spacing: 1px;
  font-size: small;
  font-family: shabnam;
}

.card-footer p {
  font-weight: bold;
  font-size: 15px;
  font-family: shabnam;
}

.footer-in li {
  border-top: 1px solid rgba(219, 211, 211, 0.849);
}

/* body */

body {
  background-color: white;
  direction: rtl;
}

body li {
  list-style: none;
}

/* last-number */

div.last-number {
  margin: 20px 200px 50px 200px;
  padding-bottom: 10px;
  direction: rtl;
  font-family: shabnam;
  border-bottom: 1px solid rgba(194, 181, 181, 0.87);
}

div.last-number span {
  font-size: small;
  color: gray;
  margin-top: 0px;
  padding-top: 0px;
}
div.last-number li {
  margin: 0% !important;
  padding: 0px !important;
}

/* sport-category */

div.sport-category {
  margin: 10px 200px 50px 200px;
  direction: rtl;
  font-family: shabnam;
  border-bottom: 1px solid rgba(194, 181, 181, 0.438);
  height: 32%;
  padding: 0px 0px 48px 0px;
}

div.sport-category-item div {
  width: 227px;
  height: 106px;
  margin: -19px 6px;
}

div.football {
  background-color: #a6be07;
  border-radius: 10px;
  align-items: center;
  color: aliceblue;
  white-space: nowrap;
}
div.basketball {
  background-color: #06ca58;
  border-radius: 10px;
  align-items: center;
  color: aliceblue;
  white-space: nowrap;
}
div.volleyball {
  background-color: #239b56;
  border-radius: 10px;
  align-items: center;
  color: aliceblue;
  white-space: nowrap;
}
div.tennis {
  background-color: #117a65;
  border-radius: 10px;
  align-items: center;
  color: aliceblue;
  white-space: nowrap;
}
div.sport-category-item li {
  text-align: center;
}

div span.sport-play {
  font-size: 14px;
  opacity: 0.7;
}
div span.sport-name {
  font-size: 20px;
  margin-left: 5px;
}

/* hottest-match */
div.hottest-match {
  margin: 10px 200px 50px 200px;
  direction: rtl;
  font-family: shabnam;
  border-bottom: 1px solid rgba(194, 181, 181, 0.438);
  padding: 0px 0px 48px 0px;
}
div.two-matches {
  margin: 0px;
}
div.seat span {
  font-size: 10px;
  text-align: right;
}

div.seat h5 {
  text-align: right;
}

div.seat span {
  text-align: right;
  opacity: 0.7;
  margin-top: 2px;
}

div.social-icons span {
  font-size: 14px;
}
div.social-icons {
  background-color: rgba(151, 134, 134, 0.178);
  border-radius: 5px;
}
.fa-1x {
  font-size: 20px !important;
}

div.card-header {
  background-color: white !important;
  border-bottom: none !important;
  padding: 0px !important;
}

div.footer-in2 {
  border-bottom: 1px solid rgba(128, 128, 128, 0.589);
  width: 446px;
  white-space: nowrap;
}
div.card-body-2 img {
  width: 50px;
  height: 60px;
  text-align: center;
}
div.card-body-2 {
  align-items: center;
  width: 446px;
  margin: auto;
  margin-top: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.589);
}
div.card-body-2 h4,
p {
  font-size: 16px;
  font-weight: bold;
}

div.hottest-match .card {
  border-radius: 10px;
}
div.hottest-match .card-footer {
  border-radius: 10px;
}

/* table-mathes */
div.table-mathes {
  margin: 10px 200px 50px 200px;
  direction: rtl;
  font-family: shabnam;
  padding: 0px 0px 48px 0px;
}
[class|='row'] {
  text-align: center;
  width: 940px;
  background-color: rgba(154, 210, 236, 0.432);
  padding-top: 20px;
  height: 60px;
  border-radius: 10px;
}

[class|='row'] img.img-table-1 {
  width: 38px;
  height: 35px;
  padding: 0px 0px 0px 0px;
  margin: -7px 19px 0px 0px;
}
[class|='row'] img.img-table-2 {
  width: 38px;
  height: 35px;
  padding: 0px 0px 0px 0px;
  margin: -7px -103px 0px 0px;
}

li.team-one {
  padding: 0px 0px 0px 0px;
  margin: -1px 17px 0px 0px;
  font-weight: bold;
  font-size: 15px;
  color: #117a65;
}
li.space {
  padding: 0px 0px 0px 0px;
  margin: -1px 97px 0px 0px;
}

li.team-two {
  padding: 0px 0px 0px 0px;
  margin: -2px -13px 0px 0px;
  font-weight: bold;
  font-size: 15px;
  color: #117a65;
}
li.date-match {
  padding: 0px 0px 0px 0px;
  margin: 0px -36px 0px 0px;
  font-weight: bold;
  font-size: 15px;
  color: #117a65;
}
li.time-match {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 60px;
  font-weight: bold;
  font-size: 15px;
  color: #117a65;
}
li.buy-ticket {
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  padding-top: 1px;
  color: #117a65;
}
div.row-two{
    background-color: white !important;
}
div.row-three{
    margin-top: -23px;
    background-color: white !important;
}
div.row-four{
    margin-top: -46px;
    background-color: white !important;

}

/* special-match */
div.special-match{
    width: 100%;
    height: 687px;
    background-image: url("./Assets/Image/img-1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    direction: ltr;
    font-family: shabnam;
}

div.special-match-card{
   justify-content: start;
}
div.special-match-card-in{
    margin: 0px 0px 114px 158px;
}
div.special-match-card-in2{
    margin: 0px 0px 114px -144px;
}
div.top-special-match li{
    font-size: 11px;
    color: white;
    margin: 19px 189px 0px 0px;
}
div.top-special-match h5{
    font-size: 28px;
    color: white;
    margin: 29px 195px 0px 0px;
}
div.special-match .card{
    padding: 0px !important;
    border: none !important;
}
div.special-match div.card-header img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* sport-magazine */
div.sport-magazine{
    margin: 10px 200px 50px 200px;
    direction: rtl;
    font-family: shabnam;
    height: 640px;
    width: 995px;
    
}
li.date-magazine {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.411);
    margin: -41px 19px 0px 0px;

}
div.sport-magazine h3{
    font-size: 19px;
    color: rgb(0, 0, 0);
    margin: 21px 19px 0px 0px;
    font-weight: bold;
    line-height: 27px;
}
div.sport-magazine h4{
  font-size: 26px;
  color: rgb(0, 0, 0);
  margin: 21px 19px 0px 0px;
  font-weight:500;
  line-height: 27px;
}

div.sport-magazine p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.356);
    margin: -6px 19px 0px 0px;
}
div.sport-magazine .card-footer{
    margin:49px 0px 12px 0px;
}
div.sport-magazine .card{
    height: 537px;
    margin: 0px 0px 0px 0px;
    width: 311px;
    border:none;
    box-shadow:0px 1px 14px -4px #88888856;;
}
div.sport-magazine .card-body{
   padding-top:10px ;
   margin-top: -12px;
}

div.social-icons-magazine span {
  font-size: 12px;
  opacity: 0.5;
}
div.social-icons-magazine {
  margin: -2px 0px 0px 15px;
  padding: 0px 0px 50px 0px;
}
div.social-icons-magazine .fa-1x {
  font-size: 16px !important;
}
div.social-icons-m {
margin: 15px 0px 0px 15px;
padding: 0px 0px 0px 0px;
border-bottom: 1px solid rgba(194, 181, 181, 0.438);
}
/* comments */
div.comments{
  margin: 118px 200px -138px 200px;
  direction: rtl;
  font-family: shabnam;

}
.head-comment h4{
font-size: 25px;
color: black;
font-weight: 500;
text-align: right;
}
.head-comment p{
  font-size: 13px;
  color: black;
  opacity: 0.4;
  text-align: right;
  font-weight: 100;
  margin: -21px  0px 0px 0px;
}
div.comments-item{
  background-image: url("./Assets/Image/img-17.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 231px;
  height: 311px;
 opacity: 0.8;
 border-radius: 14px;
}
div.comments-items{
  width: 998px;
  height: 311px;
  margin:-33px 0px 0px 0px;;
}
.comments-item span{
  font-size: 13px;
  color: white;
font-weight: 500;
text-align: right; 
direction: rtl;
word-spacing: 1px;
letter-spacing: 0.5px;

}
.comments-item li{
  text-align: right;
  margin: 14px  19px 0px 0px;
}
.comment-icon li{
  color: rgb(30, 161, 26);
  opacity: 0.8;
  
}
div.comment-user img{
  width: 50px;
    height: 43px;
    border-radius: 22px;
}
div.comment-user p{
  font-size: 14px;
  white-space: nowrap;
  font-weight: 500;
  margin: 7px 8px 0px 0px;
}
div.comment-user span{
  font-size: 11px;
  white-space: nowrap;
  font-weight: 400;
  opacity: 0.4;
}
/* support */
div.support{
  margin: 25px 200px 0px 200px;
  padding: 28px 0px 0px 0px;
  direction: rtl;
  font-family: shabnam;
  border-top: 1px solid rgba(194, 181, 181, 0.438);
  height: 214px;
}
div.support li.h4{
  margin: 0px 0px 0px 0px;
  direction: rtl;
text-align: right;
white-space: nowrap;
font-size: 20px;
color: black;
font-weight: 800;
}
div.support li.span{
  margin: -22px 0px 0px 0px;
    direction: rtl;
  text-align: right;
}
div.support span{

  white-space: nowrap;
  font-size: 15px;
  color: black;
  opacity: 0.6;

}
.support-items{
  margin: -76px -30px 0px 50px;
  height: 111px;
}
.support-item{
  margin: 11px 14px 0px 0px;
}
  .support-items li{
height: 111px;
  }
/* footer */
footer{
  margin: 0px -30px 0px 50px;
    padding: 0px 0px 0px 0px;
  direction: rtl;
  font-family: shabnam;
}
div.footer-one{
  margin: 0px 20px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 1509px;
  height: 100px;
  background-color:#06ca58;
}

.footer-news .span-li{
  text-align: right;
  margin:-23px 211px 0px 0px;
}
.footer-news p{
  white-space: nowrap;
  font-size: 14px;
  color: rgb(247, 247, 247);
  text-align: right;
  margin:30px 214px 0px 0px;

 
}
.footer-news span{
  white-space: nowrap;
  font-size: 12px;
  color: black;
  opacity: 0.6;
}
.footer-emails{
  margin: 29px -65px 0px 0px;
  padding: 2px 0px 0px 0px;
  width: 318px;
  height: 42px;
  background-color: #f7f7f7;
  border-radius: 6px;
}
.footer-email{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 315px;
  height: 38px;
  background-color: #f5f5f5;
  border-radius: 6px;
}
.footer-email input{
  border: none;
}
div.footer-two{
  margin: 33px 164px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 1056px;
  height: 385px;
  background-color: #fdfdfd;
  align-items: center;
}
.footer-two .footer-address{
  margin:-217px 71px 0px 0px;
  padding: 0px 0px 0px 0px;
  align-items: center;
  direction: rtl;
}
.footer-address li{
  margin: 0px 0px 0px 0px;
  padding: 6px 0px 0px 0px;
  direction: rtl;
  text-align: right;
  white-space: nowrap;
  font-size: 10px;
  font-weight: 900;
}
.footer-menu {
  margin:-202px 110px 0px 0px;
  padding: 0px 0px 0px 0px;
  align-items: center;
  direction: rtl;
}
.footer-menu li{
  margin: 0px 0px 0px 0px;
  padding: 6px 0px 0px 0px;
  direction: rtl;
  text-align: right;
  white-space: nowrap;
  font-size: 11px;
  font-weight: 900;
}
.footer-q{
  margin:-227px 41px 0px 0px;
  padding: 0px 0px 0px 0px;
  align-items: center;
  direction: rtl;
}
.footer-q li{
  margin: 0px 0px 0px 0px;
  padding: 6px 0px 0px 0px;
  direction: rtl;
  text-align: right;
  white-space: nowrap;
  font-size: 11px;
  font-weight: 900;
}
.footer-app{
  margin:-271px 53px 0px 0px;
  padding: 0px 0px 0px 0px;
  align-items: center;
  direction: rtl;
}
.footer-app li{
  padding: 6px 0px 0px 0px;
  direction: rtl;
  text-align: right;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 900;
}
li.with{
  padding: 6px 77px 0px 0px;
  direction: rtl;
  text-align: right;
  white-space: nowrap;
  font-size: 11px;
  font-weight: 100;
  opacity: 0.6;
}
.footer-app .window{
  margin:  0px 132px;
}
div.footer-three{
  margin: 64px 203px 0px 247px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  align-items: center;
}
.social-icons-footer{
  opacity: 0.6;
}
.img-one{
  margin: 0px -200px;
}
.img-two{
  margin: 0px 0px;
}
.last-site img{
  width: 79px;
  height: 70px;
}