/* buy page */
@font-face {
  font-family: "AKavir";
  src: url("./Assets/Font/AKavir.ttf");
}
@font-face {
  font-family: "shabnam";
  src: url("./Assets/Font/shabnam/Shabnam.ttf");
}
html {
  direction: rtl;
  font-family: shabnam;
}

/* head */

div.head {
  width: 100%;
  height: 47px;
}
div.header {
  margin: 0px 202px;
}

div.navbar-brand {
  font-family: AKavir;
  font-size: 30px;
  color: white;
  margin: 0px;
  padding: 0px;
  width: 150px;
}

div.menue {
  width: 300px;
  margin: 0px 96px 0px 0px;
}

div.menue li {
  list-style: none;
  padding: 0px 14px 0px 0px;
  margin: 0px;
  font-size: 13px;
}

div.menue a {
  color: rgb(0 0 0);
  text-decoration: none;
  white-space: nowrap;
  font-family: shabnam;
}

div.search-box {
  width: 150px;
  height: 30px;
  margin: 0px 13px;
}
div.search-box input {
  background-image: url(./Assets/Image/img-11.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 9px 5px;
  font-family: shabnam;
  width: 148px;
  height: 27px;
  border-radius: 50px;
}

.acount-box {
  border: 1px solid #d1cccc;
  border: 1px solid #d1cccc;
  border-radius: 50px;
  background-color: #d1cccc;
  list-style: none;
  margin: 0px 57px 0px 0px;
  padding: 0px;
  height: 28px;
  justify-content: center;
  white-space: nowrap;
  width: 116px;
}
div.acount-box a {
  text-decoration: none;
  color: rgb(0 0 0 / 84%);
  font-family: shabnam;
  font-size: 13px;
  font-weight: 900;
}

span.icon-acount {
  margin: 0px 0px 0px 5px;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 18px;
  overflow: visible;
  vertical-align: -4px;
}
span.signin-acount {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
span.signup-acount {
  margin: 0px 0px 0px 0px;
}

div.top-header {
  margin: 15px 0px;
}




/* body */

/* main */
div.main {
  margin: 0px 202px;
  direction: rtl;
  font-family: shabnam;
}
div.comments {
  width: 532px;
  height: 48px;
  margin: 30px 30px 0px 0px;
  border-radius: 9px;
  background-color: rgb(207 11 11 / 74%);
}
#icon {
  height: 28px;
  width: 40px;
  opacity: 0.3;
  vertical-align: 25px;
}
div.comments li.span1 {
  color: white;
  margin: 10px 0px 0px 0px;
  text-align: right;
  list-style: none;
  display: inline;
}
div.comments li.span2 {
  color: white;
  font-size: 12px;
  margin: 15px -2px 0px -14px;
  text-align: right;
  list-style: none;
  display: inline;
  white-space: nowrap;
}
li.span3 {
  font-size: 12px;
  margin: 14px 75px 0px 0px;
  text-align: right;
  list-style: none;
  display: inline;
  white-space: nowrap;
  opacity: 0.7;
}
li.span3 a {
  text-decoration: none;
  color: white;
}

div.comments li.span4 {
  color: white;
  font-size: 21px;
  margin: 9px 11px 0px 0px;
  text-align: right;
  list-style: none;
  display: inline;
  white-space: nowrap;
  vertical-align: 25px;
}


/* seat */


div.footer-in{
  width: 292px;
  margin: -109px -10px 15px 0px;
  border-top: 1px solid rgb(236, 232, 232);
  padding:20px 0px 0px 0px ;
}
div.footer-in li{
  list-style: none;
  white-space: nowrap;
}
li.varzeshgah{
  margin: -2px 0px 0px 40px;
  font-weight: 600;
  font-size: 13px;
}
li.date{
  margin: -2px 0px 0px -6px;
  font-size: 13px;
  font-weight: 300;
}
li.time{
  margin: -2px 0px 0px 0px;
  font-size: 13px;
  font-weight: 300;
}
.card-header {
  padding: 0px;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255) !important;
  border-bottom:none !important;
}
.card-header h4{
  font-size: 19px;
  font-weight: 900;
  margin-top: 10px;
}
.card-header p{
  font-size: 12px;
  opacity: 0.5;
  margin-top: 10px;
  letter-spacing: 3px;
}
div.match-card-detail{
  background-color: green;
  width: 321px;
  height: 183px;
  margin: -91px -21px 0px 10px;
}
div.match-card-detail li{
  list-style: none;
  margin: 7px 20px  0px 0px;
  font-size: 13px;
  color: white;
  opacity: 0.9;
  padding: 10px 0px;
  width: 281px;
}
li.match-card-detail1{
   margin: 0px 0px 0px 0px;
   border-bottom: 1px solid rgb(255, 255, 255);
}
li.match-card-detail2{
  margin: 0px 0px 0px 0px;
  border-bottom: 1px solid rgb(255, 255, 255);
}
li.match-card-detail3{
  margin: 0px 0px 0px 0px;

}
div.price{
  margin: -20px -9px 0px 0px;
  width: 292px;
  border-bottom: 1px solid rgb(219, 209, 209);
  padding: 0px 0px;
  height: 57px;
}
div.price li{
  list-style: none;
  margin: 0px 0px 0px 0px;
}
div.price span{
font-size: 14px;
color: rgb(13, 160, 135); 
font-weight: 900;
}
div.price p{
  font-size: 13px;
color: rgb(0, 0, 0); 
font-weight: 100;
opacity: 0.6;
}
.card-footer {
  padding: 0px;
  margin: -24px 0px 0px 0px;
  background-color: rgb(255, 255, 255) !important;
  border-top:none !important;
}
.card-footer li{
  list-style: none;
  width: 298px;
  margin: 2px -10px 0px 0px;
}
.card-footer p{
  width: 171px;
  margin: 2px -6px 0px 0px;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  color: rgb(50, 150, 150);
}
div.card-body{
height: 100px !important;
margin: 77px 0px 0px 0px;
}
div.card{
  height: 595px;
  margin: 30px -34px 103px 0px;
  width: 321px;
  box-shadow: 0px 1px 12px 3px gainsboro;
}

/* cash */
div.cash{
  height: 101px;
  margin: 47px 30px 0px 0px;
  width: 530px;
  border: 1px solid #e4e1e1;
}
div.cash li{
  list-style: none;
}

li.price-string{
  height: 44px;
  margin: 17px 2px 0px 0px;
  width: 147px;
}
li.price-number{
  height: 78px;
  margin: 15px 1px 0px 0px;
  width: 316px;
}
li.price-string span{
     margin: 0px 13px 0px 0px;
     font-size: 13px;
     font-weight: 900;
     color: black;
}
li.price-number span.adad{
     margin: 0px 21px 0px 0px;
     font-size: 28px;
     font-weight: 900;
     color: black;
}
li.price-number span.rial{
  margin: 0px 12px 0px 25px;
  font-size: 12px;
  font-weight: 900;
  color: black;
  opacity: 0.6;
}
li.price-number p{
  height: 40px;
  margin: -4px 168px 0px 0px;
  width: 116px;
  font-size: 11px;
  font-weight: 100;
  color: black;
  opacity: 0.7;
}
/* biling */
div.biling{
  height: 226px;
  margin: 63px 30px 0px 0px;
  width: 530px;
  border: 1px solid #e4e1e1;
}
div.biling li{
  height: 147px;
    width: 95px;
    list-style: none;
    border: 1px solid gainsboro;
    border-radius: 8px;
}
p.icon-biling{
  margin: 1px 0px 0px 40px;
}
p.icon-biling img{
  height: 37px;
  margin: 9px 22px 0px 0px;
  width: 44px;
}
p.icon-way{
     margin: 18px 0px 0px 26px;
     font-size: 12px;
     font-weight: 100;
     color: black;
     opacity: 0.7;
}
p.icon-factory{
    margin: 1px 0px 0px 26px;
    font-size: 13px;
    font-weight: 900;
    color: black;
}
div.biling button{
  height: 22px;
  margin: 11px 0px 0px 9px;
  width: 75px;
  font-size: 14px;
 padding: 0px 0px;
}
div.price-string{
  height: 44px;
  margin: 17px 2px 0px 0px;
  width: 147px;
  white-space: nowrap;
}
div.price-string span{
  margin: 0px 13px 0px 0px;
  font-size: 13px;
  font-weight: 900;
  color: black;
  white-space: nowrap;
}
li.foctori-1{
  margin: -7px 16px 0px 0px;
}
li.foctori-2{
  margin: -7px -14px 0px 0px;
}
li.foctori-3{
  margin: -7px -44px 0px 0px;
}
li.foctori-4{
  margin: -7px -74px 0px 0px;
  background-color: lightcoral;
  opacity: 0.3;
}